*{
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

#body{
    /* font-family: 'Roboto', sans-serif; */    
}

#header {
    background-color: #af0000;
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px; */
    padding: 15px 15px 20px;
}

#main{
    background-color: #0014ff;
    padding-bottom: 30px;
    /* padding: 30px 0 30px 0px; */

}

#footer{
    background-color: #000;
    padding: 5px;

}

h1, h2{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

h3{
    color: #000;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

/* Seudoclases en CSS */

main > h2:first-child{
    text-align: center;

    /* Otra Forma de centrar el texto */
    /* width: 500px;
    margin: 0 auto; */
}

/* NTH-CHILD Seudoclase, que toma el objeto que yo le especifique */
/* div:nth-child(1){
    background: #00ff59;
} */

div{
    width: 300px;
    height: 60px;
    padding: 20px 0px 40px 0px;
}

.divisor1{
    margin-top: 10px;
    text-align: center;
    background: #00ff59;
}

.divisor2{
    margin: 20px 0 30px 50px;
    text-align: center;
    background: #01ffff;
    border: 5px solid black ;
}

.divisor3{
    margin: 30px 0 30px 100px;
    padding: 20px 30px 40px 0px;
    text-align: right;
    background: #ff00f4;
}

.divisor4{
    margin: 30px 0 30px 150px;
    padding: 20px 0px 40px 30px;
    text-align: left;
    background: #ffe200;
}
