*{
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    text-transform: none;
}

span{
    padding: 10px;
}

a:hover{
    text-decoration: underline;
}

.content-nav{
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    flex-direction: row;
    /* margin: 0 0 10px 5px; */
    padding: 20px 30px 15px 50px;
    background: #fff;
    font-size: 13px;
    font-weight: 300;
    font-family: Arial, sans-serif;
} 

.content-nav > span > a > img{
    width: 18px;
    height: 18px;
    color: #f3f3f3;
}

button{
    margin-top: -10px;
    color: #fff;
    background: #1a73e8;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 9px 23px;
    border-radius: 4px;
    cursor: pointer;
}


.logo-google{
    display: flex;
    justify-content: center;
}

.img-google{
    width: 270px;
    height: 90px;
    position: relative;
    top: 190px;
    /* left: 35%; */
}


.buscador{
    display: flex;
    justify-content: center;
}

.cajatexto{
    display: flex;
    box-shadow: none;
    margin: 0 auto;
    width: 590px;
    height: 50px;
    position: relative;
    top: 200px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
}

/* .cursor{
    padding-left: 20px ;
} */

.lupa{
    width: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    top: 200px;
    right: 570px;
    color: azure;
}


.microfono{
    width: 20px;
    height: 25px;
    position: relative;
    top: 212px;
    right: 59px;
}

.botones-google{
    text-align: center;
    position: relative;
    top: 250px; 
}

.boton1{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.texto-idioma{
    text-align: center;
    position: relative;
    top: 300px;
    font-family: Arial, sans-serif;
}

.texto-idioma > p > a{
    color: blue;
    
}

.texto-idioma > p > a:hover{
    color: blue;
    text-decoration: underline;
    
}

.footer1{
    background-color: #ebedf0;
    width: 100%;
    height: 8px;
    position: relative;
    bottom: 0;
    top: 515px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    /* border: 1px solid #c3c3c4; */
}


.footer2{
    background-color: #ebedf0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 8px;
    bottom: 0;
    margin-top: 10px;
    padding-bottom: 30px;
    vertical-align: middle;
    border: 1px solid #c3c3c4;
}

.texto-footer{
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;
    vertical-align: middle;
    z-index: 1;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
}

