*{
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}

#header {
    background-color: #af0000;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1, h2, h3, h4{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#main{
    background-color: #0014ff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer{
    background-color: #000;
    padding: 5px;

}