label{
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 10px;
}

h1{
    text-align: center;
}

.formulario{
    padding: 50px;
    border-radius: 50px 10px;
    background-color: #61ccf7 ;
}

span{
    color: brown;
}

.boton{
    width: 100%;
    background-color: black;
}

