@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.menu{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
}

.texto-menu{
    text-align: center;
    flex-direction: row;
}

.banner{
    width:100% ;
    padding: 20px;
}

.feature{
    padding-left: 20px;
}

.feature-images{
    text-align: center;
    padding: 10px;

}

h3{
    margin-top: 10px;
    color: #07a7aa;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
}

h4{
    /* margin-top: 10px; */
    font-family: 'Varela Round', sans-serif;
}

.footer{
    background-color: #07a7aa;
    padding-top: 20px;
    /* display: flex;
    justify-content: space-between; */
    /* text-align: center; */

}
footer > div > h3 {
    color: white;
    list-style: none;
}

.li{
    color: white;
    font-size: 25px;
    list-style: none;
    margin-left: 10px;
}

.h3{
    color: #fff8e5;
    list-style: none;
    text-align: left;
}


label{
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 10px;
}

.formulario{
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-align: left;
    /* background-color: #fff ; */
}

.boton{
    width: 100%;
    background-color: #3E1B16;
}

.forma{
    border-radius: 260px;
}

.forma1{
    position: ;
    top: 260px;
}

.footer1{
    padding: 20px;
    background-color: #3E1B16 ;
    color: white;
}

.marca{
    padding-right: var(--bs-gutter-x,.0rem) !important;
    padding-left: var(--bs-gutter-x,.0rem) !important;
}

.brand{
    width: 100%;
    height: 250px;
}

p{
    font-family: 'Varela Round', sans-serif;
}

.contacto{
    font-size: 20px;
    color: white;
}

.texto1{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    letter-spacing: -3px;
}

.texto2{
    margin-top: -30px;
    margin-bottom: 80px;
    font-size: 30px;
    text-align: center;
}

.logo-f{
    text-align: center;
    margin-left: 40px   ;
    width: 200px;
    height: 200px;
}

.origenes{
    width: 50%;
    height: 50%;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}