*{
    /* margin: 0; */
    /* margin: 10px 10px 0px 10px; */
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

header, nav, main, aside, section, article, footer {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

#header{
    display: flex;
    /* height: 100px; */
    background-color: #a9abaa;
    padding: 20px 0;
    justify-content: space-between;
    /* text-align: left; */

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > h2 {
    margin-left: 5px;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
    /* background-color: beige; */
    color: #fff;
    padding-right: 20px;
}

.contenedor_header {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    background-color: aqua;
}

#nav{
    background-color: #ff017f;
    padding: 5px 0;
}

#main {
    display: flex;
    justify-content: space-between;
}

#aside{
    background-color: #4d8e83;
    align-items: center;
    width: 40%;
    margin-right: 20px;
    /* width: 30%; */
    height: 500px;
    /* order: 0; */
    justify-content:center;
}

#section {
    background-color: #85b063;
    width: 70%;
    order: 1;
    
}


article{
    background-color: #005dad;
    height: 30%;
    justify-content: center;
    align-items: center;
}

#footer{
    background-color: #ef4f1b ; 
}



h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}