*{
    margin: 0;
    /* margin: 10px 10px 0px 10px; */

    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header, nav, main, aside, section, article, footer {
    text-align: center;
    color: #fff;
    
}

#header{
    display: flex;
    /* height: 100px; */
    background-color: #a70000;
    padding: 5px 0;
    justify-content: space-between;
    /* text-align: left; */
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;


}

.logo > h2 {
    margin-left: 5px;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100px;
    /* background-color: beige; */
    color: #fff;
    padding-right: 40px;
}

/* #nav{
    background-color: #ff017f;
    padding: 5px 0;
} */

#main {
    display: flex;
    padding-bottom: 40%;
    background-color: #0107ff;
}


#footer{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #000;
    align-items: center;
    text-align: center;

}


h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p{
    text-align: center;
    margin-bottom: 20px;
}

.boton{
    width:  70px;
    margin-bottom: 900px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    background-color: greenyellow;
    border-radius: 10px;
    border: 2px solid #0016b0;
  }

  .boton:hover{
    color: #1883ba;
    background-color: #ffffff;
    
  }

  .cajas{
      display: flex;
      margin: 10px 10px 0 10px;
      flex-wrap: wrap;
      justify-content: space-between;
      /* flex-direction: row;
      justify-content:flex-end; */
  }

  .cajas article{

      width: 200px;
      height: 200px;
      margin-top: 120px;
      align-items: center ;
      justify-content: flex-start;

  }

  .texto {
      text-align: center;
  }