/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos Personalizados */

*{
    /* background-color: azure; */
    color: inherit;
}

.img-header{
    margin: 10px;
    width: 1200px;
    height: 300px;
    
}

body{
    box-sizing: border-box;
    background-color: azure;
}

header{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

main{
    max-width: 1200px;
    border: 1px solid black;
}


.menu{

    border: 1px solid red;
    float: left;
    width: 20%;
    height: 392px;
    margin: 5px;
}

.secction-wrapper{
    border: 1px solid purple;
    float: left;
    width: 76%;
    margin: 5px;
}

/* Ordena los items de menus */
ul{
    display: flex;
    justify-content: space-around;
   
}

/* Quita Puntos de Listas no Ordenadas */
ul li{
    list-style: none;
}

ul a{
    text-decoration: none ;
    color: black;
}

ul a:hover{
    cursor: default;
}

.middle-section{
    height: 200px;
    border: 2px solid blue;
    background-color: salmon;
    float: left;
    padding: 10px 20px;
    margin: 2px;
    width: 42%;
    height: auto;
}

.middle-section p{
    text-align: justify;
}

.wrapper-boton{
    margin: 20px;
    border: 1px solid greenyellow;
    float: left;
    width: 92%;
    padding: 20px 5px;
}

.card{
   float: left;
   border: 1px solid whitesmoke;
   width: 32%;
   background-color: rgba(140, 225, 240, 0.747);
   height: auto;
   text-align: center;
   padding: 10px 1px;
   margin: 0 1px;
}

p{
    margin: 15px;
    text-align: center;
    font-size: 12px;
}


/* 
-- Diferentes Opciones de Media Query --
@media ( SCREEN  |   PRINT |  READER )
{min-width o max width: 1140px
 body{
    background-color: blue;
 } 
}

 -- Aplica para todo y un Width de 600px--
@media (min-width: 600px){
  background-color: red; 
}

-- Rango para aplicar Media Quefy --
@media (min-width: 460px) and (min-width: 599px){
  body{  
    background-color: red; 
  }
}

-- Min Width y Orientacion de Dispositivo --
@media (min-width: 460px) and (orientation: landscape){
  body{  
    background-color: green; 
  }
}


*/

@media screen and (max-width: 600px) {
    body{
        background-color: rgba(32, 95, 167, 0.836);
    }
    .menu{
        width: 100%;
        height: 50px;
    }
    .secction-wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    body{
        background-color: rgba(54, 231, 142, 0.836);
    }
}

@media (max-width: 360px) {
   .middle-section{
    float: left;
    width: 85%;
    font-size: 18px;
    color: #fff;    
  } 
   
}